doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    nav
      div.container

        h3 OVERTIME
        ul.nav.justify-content-end.main-nav
          if user
            if user.can('view dashboard')
              li.nav-item
                a.nav-link(href="/") Dashboard
            if user.can('view accounting')
              li.nav-item
                a.nav-link(href="/accounting") Accounting
            if user.can('view marketing')
              li.nav-item
                a.nav-link(href="/marketing") Marketing
            if user.can('view sales')
              li.nav-item
                a.nav-link(href="/sales") Sales
            if user.can('view hr')
              li.nav-item
                a.nav-link(href="/hr") HR
            li.nav.item
              a.nav-link(href="/profile") Profile
            li.nav-item
              a.nav-link(href="/logout") Logout
          else
            li.nav-item
              a.nav-link(href="/login") Login
            li.nav-item
              a.nav-link(href="/register") Register

    div.container
      block content