doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    nav
      div.container

        h3 LIFELYTE
        ul.nav.justify-content-end.main-nav
          li.nav-item
            a.nav-link(href="/") Dashboard
          li.nav-item
            a.nav-link(href="/accounting") Accounting
          li.nav-item
            a.nav-link(href="/marketing") Marketing
          li.nav-item
            a.nav-link(href="/sales") Sales
          li.nav-item
            a.nav-link(href="/hr") HR
          li.nav-item
            a.nav-link(href="/login") Login
          li.nav-item
            a.nav-link(href="/register") Register

    div.container
      block content