// let's put a peen (pin) in this for now; try to figure out how to add new categories with new charts
// (ie: every chart will be different, with datapoints, columns and rows; how to add new categories to a chart)
// (maybe the use of a mixin for every new column and it's rows?)

extends ../layout

block content
    div.content



        button.button.primary(type = 'submit') Create