extends ../layout

block content
    div.content
        h1 Hello #{user.first_name}! Your role is #{user.role.name}.

        h3 You can:
        ul
            each permission in user.role.permissions
                li= permission.name