extends ../layout

block content
    div.content
        div.form-header Login
        div
            form(action = '/login' method = 'POST')
                div.input-container.wide
                    label(for = 'email').form-label Email Address:
                    input(type = 'email' id = 'email' name = 'email' required = true)

                div.input-container.wide
                    label(for = 'password').form-label Password:
                    input(type = 'password' id = 'password' name = 'password' required = true)

                    div.helper-text
                        a(href = '/register') Need an account?

                button.button.primary(type = 'submit') Login
        if errors.length
            div
                ul
                    each error in errors
                        li= error